// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task {
  list-style: none;
}

.tasks {
  padding-left: 0;
}

.task-name, .task-remove {
  text-decoration: none !important;
  color: rgb(158, 151, 68) !important;
  &:hover {
    color: rgb(86, 107, 74) !important;
  }
}

.btn {
  border-radius: 30px !important;
}